{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'boardapp/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'boardapp/login.css' %}">
  <script src="{% static 'boardapp/bootstrap.bundle.min.js'%}"></script>
  <title>Document</title>
</head>
<body>
  <section class="login-form">
    <h1>Django</h1>
    <form action="{% url 'login' %}" method="POST">
      {% if loginError != "" or loginError != None %}
      <p style="text-align: center;">{{loginError}}</p>
      {% endif %}
      {% csrf_token %}

      <div class="int-area">
        <input type="text" name="username" id="username" autocomplete="off" required>
        <label for="username">USER NAME</label>
      </div>
      <div class="int-area">
        <input type="password" name="userpassword" id="userpassword" autocomplete="off" required>
        <label for="username">PASSWORD</label>
      </div>
      <div class="btn-area">
        <button id="loginbutton" type="submit" onclick="">LOGIN</button>
      </div>
    </form>
    <div class="caption">
      <div class="col">
        <a href="{% url 'gotosignin' %}">新規登録はこちら</a>
      </div>
      <div class="col">
        <a href="{% url 'main' %}">戻る</a>
      </div>
    </div>
  </section>
</body>
</html>