{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'boardapp/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'boardapp/signin.css' %}">
  <script src="{% static 'boardapp/bootstrap.bundle.min.js'%}"></script>
    <title>signin service</title>
</head>
<body>
  <section class="signin-form">
    <h1>Django</h1>
    <form action="{% url 'signin' %}" method="POST">
      {% csrf_token %}
      {% if idCheck.verification == True or idCheck.verification == False %}
      <p>{{idCheck.message}}</p>
      <div class="int-area">
        <input type="text" name="username" id="username" autocomplete="off" value="{{ idCheck.username }}" required>
        <label for="username">USER NAME</label>
      </div>
      {% else %}
      <div class="int-area">
        <input type="text" name="username" id="username" autocomplete="off" required>
        <label for="username">USER NAME</label>
      </div>
      {% endif %}
      <div class="caption">
        <div class="col">
          <a href="#" onclick="usernameCheck()">namecheck</a>
          <p id="usernameCheck"></p>          
        </div>
      </div>
      <div class="int-area">
      </div>
      <div class="int-area">
        <input type="password" name="userpassword" id="userpassword" autocomplete="off" required>
        <label for="username">PASSWORD</label>
      </div>
      <div class="int-area">
        <input type="password" name="userpasswordvali" id="userpasswordvali" autocomplete="off" onkeyup="pwvalidationCheck()" required>
        <label for="userpasswordvali">PASSWORD確認</label>
        <p id="passwordCheck" name="passwordCheck"></p>
      </div>
      <div class="int-area">
        <input type="text" name="usermail" id="usermail" autocomplete="off" required>
        <label for="username">EMAIL ADDRESS</label>
      </div>

      <div class="btn-area">
        <button id="loginbutton" type="submit" disabled>SIGN IN</button>
      </div>
    </form>
    <div class="caption">
      <div class="col">
        <a href="{% url 'main' %}">戻る</a>
      </div>
    </div>
  </section>
  <form  id="usernameSearchform" name="usernameSearchform" method="POST">
    {% csrf_token %}
  </form>
<script>
  function usernameCheck() {
    const username = document.getElementById('username').value;
    if(username === "" || username === null) {
      document.getElementById('usernameCheck').innerHTML = "ユーザーネームを入力してください。"
      return;
    }
    document.usernameSearchform.action = `{% url 'usernameCheck' '9999999999' %}`.replace('9999999999', username)
    document.usernameSearchform.submit();
  }

  function pwvalidationCheck() {
    const password = document.getElementById('userpassword').value;
    const passwordvali = document.getElementById('userpasswordvali').value;
    const loginbutton = document.getElementById('loginbutton')
    let pwcheck = document.getElementById('passwordCheck').innerHTML
    if(password !== passwordvali ) {
      document.getElementById('passwordCheck').innerHTML = "パスワードが間違います。"
      loginbutton.setAttribute('disabled','disabled');
    } else {
      document.getElementById('passwordCheck').innerHTML = "パスワードが一致します。"
      loginbutton.removeAttribute('disabled');
    }

  }

</script>
</body>
</html>